<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Prativa URL Shortener</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="main-container">
        <div class="">
          <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <a class="navbar-brand" href="#">Prativa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-* active">
                  <a class="nav-link" href="#">Apps <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-*">
                  <a class="nav-link" href="#">Partners </a>
                </li>
                <li class="nav-item mr-*">
                  <a class="nav-link" href="#">Contact </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="inner cover">
          <span class="glyphicon glyphicon-link"></span>
          <h1>Create Your Short Url</h1>

<!-- Input box code starts here -->
          <div class="row justify-content-center">

            <div class="col-lg-12">
              <div class="input-group input-group-lg">
                <input id="url-field" type="text" class="form-control" placeholder="Paste a link...">
                <span class="input-group-btn">
                  <button class="btn btn-shorten" type="button">SHORTEN</button>
                </span>
              </div>
            </div>

            <div class="col-lg-12">
              <div id="link"></div>
            </div>

          </div>
        </div>
        <img class="float-central" src="https://cdn.devdojo.com/tails/scribbles/24.svg">
    <img class="float-central" src="https://cdn.devdojo.com/tails/scribbles/50.svg">
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascript/shorten.js"></script>
</body>

</html>